asgiref==3.11.1
click==8.4.1
colorama==0.4.6
coverage==7.14.1
croniter==6.2.2
Django==6.0.5
django-cors-headers==4.9.0
django-redis==7.0.0
django-rq==4.1.0
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
gunicorn==26.0.0
packaging==26.2
pillow==12.2.0
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
redis==8.0.0
rq==2.9.0
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
whitenoise==6.12.0
